.heading-text {
    font-size: 4em;
}

.body-text {
    font-size: 2.5fem;
}

.text-center {
    text-align: center;
}

.slide {
    width: 100%;
    height: calc( 100vh - 4em );
    padding: 4em;
    border-radius: 1em;
    margin: 2em 0;
    background-color: rgb(80, 115, 146);
}

.slide-number {
    float: right;
    font-size: 2em;
}